# ======================
# ENVIRONNEMENTS
# ======================
.venv/
.venv*/
env/
conda-env/
__pycache__/
*.pyc

# ======================
# MACOS
# ======================
.DS_Store

# ======================
# DATA / OUTPUTS
# ======================
output_graphs/
*.html

# ======================
# JUPYTER
# ======================
.ipynb_checkpoints/

# ======================
# VSCODE
# ======================
.vscode/

# ======================
# LOGS
# ======================
*.log

# ======================
# CACHE / TEMP
# ======================
*.tmp
*.cache

# ======================
# OPTIONNEL (si tu veux alléger)
# ======================
# Ignore PDFs lourds (décommente si besoin)
# *.pdf
